<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<!--main content start-->
<div layout:fragment="content">

    <div class="container">
        <form class="form-control" method="get" action="#">

            <label for="date">Select a date:</label>
            <input type="date" id="date" name ="date">
            <button type="submit" class="btn btn-primary">Get Slots</button>
        </form>

        <hr>
<!--        <table class="table table-striped " width="80%">-->
<!--            <tbody>-->
<!--            <tr th:each="court: ${courts}"  class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">-->
<!--                <td style="width: 150px;" th:text="${court.Name+ ' - ' +court.code}"></td>-->
<!--                <td th:each="slot :${slots}" th:if="${slot.courtCode == court.code}" style="width: 120px;" th:text="${slot.startHour + '-' + slot.endHour}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
        <div class="container" th:each="court: ${courts}" >
            <div class="row" >
                <div class="col">
                    <h4 th:text="${court.name+'-'+court.code }" th:onclick="showSlots([[${court.code}]])"></h4>
                </div>
            </div>
            <hr>
            <div th:class="${'container ' + court.code}" style="background-color: #F7F7F9;display: none; padding:2px;">
            <div  th:class="${'row'}" th:each="slot :${slots}" th:if="${slot['courtCode'] == court.code}">
                <div class="card" style="margin: 2px; align-times:center;">
                <div class="row align-items-center">
                        <div class="col-sm">
                            <h5 th:text="${slot['startHour'] + '-' + slot['endHour']}" ></h5>
                        </div>
                        <div class="col-sm">
                            <p>  <svg th:style="|color: ${slot.statusColor};|" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                            </svg><span th:text="${slot['status']}" ></span></p>
                        </div>
                        <div class="col-sm">
                            <p  th:if="${slot['statusColor'] != 'red' && slot['statusColor'] != 'blue'}" class="btn btn-primary" th:onclick="placeRequest([[${slot['slotCode']}]], [[${session.user.id}]], [[${session.user.mobileNo}]], [[${slot['id']}]])" data-bs-toggle="modal" data-bs-target="#modal"> Request Slot </p>

                        </div>
                    <div class="col-sm">
                        <div class="row">
                            Requests for Singles: <span th:text="${slot['singlesNo']}"></span>
                        </div>
                        <div class="row">
                            Requests for Doubles: <span th:text="${slot['doublesNo']}"></span>
                        </div>
                    </div>
                    </div>

                </div>
                <br>
            </div>
            </div>

        </div>

    </div>
    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Complete below to request your slot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="referredBy">Referred By</label>
                    <select class="form-control" id="referredBy">
                        <option value="friends">friends</option>
                        <option value="ads">ads</option>
                        <option value="other">other</option>
                    </select>
                    <label for="gameMode">Game Mode</label>
                    <select class="form-control" id="gameMode">
                        <option value="Singles">Singles</option>
                        <option value="Doubles">Doubles</option>
                    </select>
                    <label for="remarks">Remarks</label>
                    <input type="text" id="remarks" class="form-control">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Request</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!--main content end-->
</body>
<script>
$('document').ready(function (){
    // Get today's date
    var today = new Date();
   // alert(today);

    // Calculate the maximum date (current date + 1 month)
    var maxDate = new Date(today.getFullYear(), today.getMonth() + 1, today.getDate());

 var minDate = new Date(today);
   alert(minDate);
    // Format the maximum date to yyyy-mm-dd
    var formattedMaxDate = maxDate.toISOString().split('T')[0];

        var min = minDate.toISOString().split('T')[0];

    // Set the maximum attribute of the input field
    document.getElementById('date').setAttribute('max', formattedMaxDate);
      document.getElementById('date').setAttribute('min', min);
      })
  </script>
</html>