<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<!--main content start-->
<div layout:fragment="content">
    welcome
<!--    <p th:text="${session.loggedIn}"></p>-->
<!--    <p th:text="${session.loggedMobile}"></p>-->
<!--    <p th:text="${session.userType}"></p>-->
<!--    <p th:text="${session.user}"></p>-->
<!--    <p th:text="${session.user.userName}"></p>-->

</div>
<!--main content end-->
</body>

</html>